@model Product;

<div class="row">
    <div class="col-md-12">a
        <div class="text-center">
            <h2>
                @Model.Name
            </h2>
            <img class="img-fluid shadow rounded-3 m-4" src="@Model.ImageUrl" width="400px">
            <p class="lead">@Model.Price.ToString("c")</p>
            <p>@Model.Summary</p>
             <div class="d-flex justify-content-center">
                <a href="/Product" class="btn btn-outline-primary me-2" aria-label="Go back">
                    Take me back <i class="fa-solid fa-angle-left"></i>
                </a>
                <form id="@Model?.Id" asp-page="/Cart" asp-page-handler="Add" method="post">
                    <input type="hidden" name="productId" asp-for="Id">
                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()">
                    <button type="submit" class="btn btn-outline-primary">
                        <i class="fa fa-cart-plus"></i>
                        Add
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>