<body>
    <div class="container my-3">
        <div class="d-flex justify-content-end my-3">
            <a asp-action="Create" class="btn btn-success"><i class="fa fa-plus"></i> Add</a>
        </div>
        <div class="row justify-content-center">
            <div class="text-center">
                <table class="table table-bordered table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>
                                <i class="fa-solid fa-fingerprint"></i>
                                Id
                            </th>
                            <th>
                                <i class="fa-regular fa-address-card"></i>
                                Name
                            </th>
                            <th>
                                <i class="fa-regular fa-address-card"></i>
                                Category
                            </th>
                            <th>
                                <i class="fa-solid fa-tag"></i>
                                Price
                            </th>
                            <th style="width: 20%;">
                                <i class="fa-solid fa-wrench"></i>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.CategoryId</td>
                                <td>@item.Price.ToString("c")</td>

                                <td>
                                    <div class="container">
                                        <a class="btn btn-primary" asp-controller="Product" asp-action="Get" asp-area=""
                                            asp-route-id="@item.Id">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </a>

                                        <a class="btn btn-warning" asp-action="Update" asp-route-id="@item.Id">
                                            <i class="fa-solid fa-pen-nib"></i>
                                        </a>

                                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>
